@model IEnumerable<BookStore.Models.SACH>
@{
    ViewBag.Title = "SPTheoChude";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h3 style="text-align:center; color:red">SÁCH THEO CHỦ ĐỀ</h3>

<div class="row" style="background-color:white">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "BookStore", new { id = sach.Masach })">
                    <img alt="@sach.Tensach" src="~/Hinhsanpham/@sach.Hinhminhhoa" width="150" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @sach.Tensach
                        </h4>
                    </div>

                    <div class="ratings">
                        <p class="pull-right" style="color:red">15 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star "></span>
                            <span class="glyphicon glyphicon-star "></span>
                            <span class="glyphicon glyphicon-star "></span>
                            <span class="glyphicon glyphicon-star "></span>
                            <span class="glyphicon glyphicon-star "></span>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    }
</div>


