@{ 
    ViewBag.Tittle = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2> Đơn hàng của quý khách đã được chúng tôi ghi nhận. chúng tôi sẽ liên quý khách trong thời gian sớm nhất và giao hàng đứng hẹn.</h2>
<p>
    @Html.ActionLink("VỀ TRANG CHỦ","Index","BookStore")
</p>
